body {
  background-color: rgb(255, 255, 255);
  color: #131313;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 auto;
}


.container-xl {
  width: 90%;
  margin: 0 auto;
}

.container-l {
  width: 80%;
  margin: 0 auto;
}

.container-m {
  max-width: 1000px;
  min-width: 62.5%;
  padding: 0 20px;
  margin: 0 auto;
}


$cBlue:#41B2BE;
$cPink:#ffffff;
$cBlack:#131313;
$cBeige:#E8DCCE;
$cOrange:#ED7632;



