@media screen and (max-width: 1279px) {

  .top {

    .box {
      .title {
        width: 500px;
      }
    }
    .main-title {
      font-size: 70px;
    }
  }
  
}

@media screen and (max-width: 1023px) {

  .top {

    .box {
      .title {
        width: 400px;
      }
    }

    .main-title {
      font-size: 60px;
    }
  }

  main {

    .section {
      background-position: center;
    }

    .text {
      .box {
        width: 90%;
      }
    }

    .point {

      .box {
        width: 600px;
      }
    }

  }
  
}

@media screen and (max-width: 767px) {

  .top {
    .main-title {
      font-size: 55px;
    }
  }

  

  .container-xl {
    width: 100%;
    margin: 0 auto;
  }

  .container-l {
    width: 95%;
    margin: 0 auto;
  }

  .contaienr-m {
    word-wrap: 80%;
    margin:  0 auto;
  }
}


@media screen and (max-width: 639px) {

  .container-l {
    width: 90%;
    margin: 0 auto;
  }

  .top {
    .main-title {
      font-size: 50px;
    }
  }


  main {

    

    .point {
      .box {
        width: 300px;
      }

      .text-box {
        width: 96%;
        border-radius: 20px;
      }
    }

    .f-box {
      border-radius: 0px;
    }

    .section {
      background-position: right;
    }

    .program {
      table {
        width: 95%;

        tbody {
          td {
            padding: 20px 3px;
          }
        }
      }
    }

    .contact {
      border-radius: 0px;
    }

    
  }


}


@media screen and (max-width: 430px) {
  
  .top {
    .main-title {
      font-size: 30px;
      width: fit-content;
      letter-spacing: -2px;
    }
  }

}
