@import "./common";
@import "./responsive";



nav {
  width: 98%;
  margin: 0 auto;

  img {
    width: 450px;
  }

  .btn {
    background: linear-gradient(180deg, #09BDB6 0%, #44B1BE 100%);
  }
}

.top {
  background-image: url(../src/imgs/h-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 55.5%;


  nav {
    a {
      background-color: linear-gradient(180deg, #09BDB6 0%, #44B1BE 100%);
    }
  }


  .box {
    top: 5%;
    left: 5%;
  }

  .title {
    width: 540px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 11px 11px 43px rgba(190, 190, 190, 0.57);
  }

  h1 {
    font-size: 100px;
    line-height: 70%;
    text-shadow: 12px 12px 5px rgba(146, 146, 146, 0.25);
    font-family: 'Poppins', sans-serif;
  }


  .main-title {
    bottom: 3%;
    right: 0;
  }
}

.box2 {
  background-color: rgba(238, 150, 149, 0.4);   
}

main {

  .f-box {
    border-radius: 50px;
  }

  .section {
    background-image: url(../src/imgs/s-back.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .merit-img {
    background-image: url(../src/imgs/income.png);
    background-size: cover;
    background-repeat: no-repeat;

    .box {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .point {
    h4 {
    font-family: 'Poppins', sans-serif;
    }

    .box {
      width: 95%;
    }

    .text-box {
      border-radius: 50px;
    }
  }

  .teacher {
    .box {
      border-radius: 60px;
    }

    .teacher-img {
      filter: drop-shadow(8px 8px 0px $cPink);
    }
  }

  .contact {
    border-radius: 100px;
  }
}

.nav-open {
  display: none;
}

.close-icon {
  display: none;
  transition: 1s;
}

.open {
  display: block;
  transition: 1s;
}


@media screen and (max-width: 430px) {

  main {
    .text {
      .box {
        width: 96%;
      }
    }
  }

  
}


@media screen and (max-width: 639px) {

  main {

    .f-box {
      border-radius: 0px;
    }

    .features {
      .box {
        width: 96%;
        margin:  20px auto 0 auto;
      }
    }


    .contact {
      border-radius: 0px;
    }

    .teacher {
      .box {
        width: 95%;
        border-radius: 0px;
      }
    }
  }
  
}

@media screen and (max-width: 1279px) {

  .top {
    .title {
      width: 400px;
    }

    .box {
      top: 2%;
      left: 2%;
    }
  }

  nav {
    img {
      width: 300px;
    }
  }
  
}
