@import "./common";



header {

  img {
    width: 240px;
  }
}

.top {
  background-image: url(../src/imgs/h-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;

  h1 {
    font-size: 110px;
    line-height: 100%;
    text-shadow: 12px 12px 5px rgba(146, 146, 146, 0.25);
    transform: rotate(-5deg);
    font-family: 'Poppins', sans-serif;
  }

  .main-title {
    bottom: 10%;
    left: 10%;
  }
}

main {

  .f-box {
    border-radius: 50px;
  }

  .section {
    background-image: url(../src/imgs/s-back.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .point {
    h4 {
    font-family: 'Poppins', sans-serif;
    }

    .box {
      width: 380px;
    }
  }
}
