@import "./common";



header {
  border-bottom: 8px solid $cBlue;
  img {
    width: 240px;
  }
}

.top {
  background-image: url(../src/imgs/h-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;

  h1 {
    font-size: 110px;
    line-height: 100%;
    text-shadow: 12px 12px 5px rgba(146, 146, 146, 0.25);
    transform: rotate(-5deg);
    font-family: 'Poppins', sans-serif;
  }

  .main-title {
    bottom: 10%;
    left: 10%;
  }
}

.features {

}

